img#pilt{ /*id=pilt*/
    border: 2px solid lawngreen;
    border-radius: 50%;
    width: 300px;
}
input[type=button]{
    border: 2px solid lawngreen;
    border-radius: 50%;
    padding: 5px;
    background-color: greenyellow;
}
div#vastus{
    border: 2px solid lawngreen;
    position: absolute;
    top: 450px;
    left: 300px;
    padding: 5px;
    background-color: greenyellow;
}
select{

}
label:hover{ /*hiire liigutus*/
    font-weight: bold;
    background-color: lawngreen

}
section#valik{
    border: 2px solid lawngreen;
    margin-top: 30px;
}